body {
	font-family: Montserrat-Regular, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	width: 17%;
	margin: auto;
	text-align: center;
}

.h {
	display: inherit;
	padding-top: 7px;
	cursor: default;
}

.button {
	position: static;
	top: 8px;
	right: 16px;
	padding: 2px 27px;
	cursor: pointer;
	font-size: 16px;
	border: 2px solid;
	margin-top: 5px;
}

.button:hover {
	transition: -1s;
	transform: scale(1.1);
	cursor: pointer;
}

.row {
	font-size: 20px;
	padding-top: 10px;
}

.col-25 {
	width: 60px;
	float: left;
}

.col-25_2 {
	padding-top: 10px;
	width: 130px;
	float: left;
}

.col-75_2 {
	padding-top: 10px;
}
