
body {
	font-family: Montserrat-Regular, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	box-sizing: border-box;
	width: 90%;
	margin: auto;
}

.text {
	text-align: center;
}

.hr {
	margin-top: 100px;
	display: flex;
}

.text {
	padding-top: 12px;
	font-size: 20px;
}

.btn {
	position: static;
	top: 8px;
	right: 16px;
	padding: 2px 15px;
	cursor: pointer;
	font-size: 16px;
	border: 2px solid;
	margin-top: 5px;
}

.btn:hover {
	transition: -1s;
	transform: scale(1.1);
	cursor: pointer;
}

.row {
	display: grid;
	margin: auto;
	grid-gap: 30px;
	padding-top: 25px;
}

.row>div {
	border: 2px solid;
	padding: 1em;
	grid-gap: 3rem;
}

@media screen and (min-width: 360px) and (max-width: 620px) {
	.row {
		grid-template-columns: repeat(1, auto);
		display: grid;
		margin: auto;
		grid-gap: 30px;
		width: 90%;
	}
}

@media screen and (min-width: 620px) and (max-width: 1024px) {
	.row {
		grid-template-columns: repeat(2, auto);
		display: grid;
		margin: auto;
		grid-gap: 30px;
		width: 90%;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1360px) {
	.row {
		grid-template-columns: repeat(3, auto);
		display: grid;
		margin: auto;
		grid-gap: 30px;
		width: 90%;
	}
}

@media only screen and (min-width: 1360px) {
	.row {
		grid-template-columns: repeat(4, auto);
		display: grid;
		margin: auto;
		grid-gap: 30px;
		width: 90%;
	}
}